body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Roboto, monospace;
    background-image: url("download (1).jpg");
    background-attachment: scroll;
    background-size: cover;
}

header {
    background-color: #343a40;
}

header ul {
    display: flex;
    padding-left: 1%;
    list-style: none;
}

.menu {

}

header li {
    position: relative;
}

header li:hover .sub-menu {
    display: flex;
}

header a {
    display: flex;
    color: beige;
    text-decoration: none;
    background-color: #343a40;
    padding: 1em;
    white-space: nowrap;
}

header a:hover {
    background-color: orange;
}

header a:focus {
    outline: none;
    background-color: orange;
}

.sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
}

.t123 {
    display: block;
    padding-left: 130vh;
}

/*SECTION1*/
/*    CENTRE-SIDE*/

section li {
    display: block;
    position: relative;
}

.section-first {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.centre-side-section-first {
    font-family: "Roboto Light", monospace;
    font-size: 14px;

}

.sub-menu1 {
    font-family: Roboto, monospace;
    font-size: 16px;
}

.sub-menu1 h {
    padding-left: 0%;
}

.centre-side-section-first a {
    display: block;
    color: darkgray;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.centre-side-section-first ul {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
}

/*  END CENTRE-SIDE*/
/* END SECTION1*/

/*==========================*/

.main-table {
    padding-left: 11%;
    padding-top: 5%;
    width: 100%;
    height: 50vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    color: white;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

.add-api {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.add-api h4 {
    color: white;
    font-family: Roboto, monospace;
}

.add-api input [type=text] {
    padding: 4px 20px;
}

.add-api input [type=email] {
    padding: 2px 40px;
}

.button-button1 {
    background-color: darkgray;
    border: none;
    color: white;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}


