<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${user.getName()}"></title>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>

<body>
<header id="header" class="header">
    <div class="container1">
        <!-- ================NAVBAR======================== -->
        <ul class="menu">
            <li><a class="active" th:href="@{/}">HOME</a></li>
            <li><a>API</a>
                <ul class="sub-menu">
                    <a th:href="@{/}">ADD API</a>
                    <a th:href="@{/}">SHOW ADDED API</a>
                </ul>
            </li>

            <li><a>BALANCE</a>
                <ul class="sub-menu">
                    <a th:href="@{/}">ALL BALANCE</a>
                    <a th:href="@{/}">PROFITABILITY STATISTICS</a>
                </ul>
            </li>
            <li><a>TRANSACTIONS</a>
                <ul class="sub-menu">
                    <a th:href="@{/}">CREATE TRANSACTION</a>
                    <a th:href="@{/}">HISTORY TRANSACTIONS</a>
                </ul>
            </li>
            <li><a class="settings0" th:href="@{/}">IPO/ICO</a>
            <li><a class="settings3" th:href="@{/login}">LOGOUT</a>
        </ul>
    </div>
</header>
<!-- ================MAIN======================== -->
<section id="section" class="section">
    <div class="left">
        <h1>Total Balance: $ ...</h1>
        <!-- ================CHART======================== -->
        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/dark.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="21.js"></script>
        <div id="chartdiv"></div>
        <!-- ================END CHART======================== -->
    </div>
</section>
<section id="section2" class="section">
    <div class="left-footer">
        <h1>Investments (TOP BALANCES)</h1>
        <table class="table2" border="1">
            <thead>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">Name</th>
                <th class="column100 column2" data-column="column2">Tiker</th>
                <th class="column100 column7" data-column="column7">Date Investments</th>
                <th class="column100 column3" data-column="column3">%</th>
                <th class="column100 column4" data-column="column4">Change Year</th>
                <th class="column100 column5" data-column="column5">Change Month</th>
                <th class="column100 column6" data-column="column6">Result All Time</th>

            </tr>
            </thead>
            <tbody>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Apple Shares</td>
                <td class="column100 column2" data-column="column2">AAPL</td>
                <th class="column100 column7" data-column="column7">02.02.2020</th>
                <td class="column100 column3" data-column="column3">25</td>
                <td class="column100 column4" data-column="column4">+ 50 %</td>
                <td class="column100 column5" data-column="column5">+ 25 %</td>
                <th class="column100 column6" data-column="column6">+ 10 %</th>
            </tr>
            </tbody>
            <thead>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">Epam SYS INC Shares</th>
                <td class="column100 column2" data-column="column2">EPAM</td>
                <th class="column100 column7" data-column="column7">02.02.2020</th>
                <td class="column100 column3" data-column="column3">9</td>
                <td class="column100 column4" data-column="column4">+ 50 %</td>
                <td class="column100 column5" data-column="column5">+ 50 %</td>
                <th class="column100 column6" data-column="column6">+ 10 %</th>
            </tr>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">Start-Up №1 Shares</th>
                <td class="column100 column2" data-column="column2">X</td>
                <th class="column100 column7" data-column="column7">02.02.2020</th>
                <td class="column100 column3" data-column="column3">9</td>
                <td class="column100 column4" data-column="column4">+ 50 %</td>
                <td class="column100 column5" data-column="column5">+ 50 %</td>
                <th class="column100 column6" data-column="column6">+ 10 %</th>
            </tr>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">Start-Up №2 Shares</th>
                <td class="column100 column2" data-column="column2">X</td>
                <th class="column100 column7" data-column="column7">02.02.2020</th>
                <td class="column100 column3" data-column="column3">9</td>
                <td class="column100 column4" data-column="column4">+ 50 %</td>
                <td class="column100 column5" data-column="column5">+ 50 %</td>
                <th class="column100 column6" data-column="column6">+ 10 %</th>
            </tr>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">Start-Up №3 Shares</th>
                <td class="column100 column2" data-column="column2">X</td>
                <th class="column100 column7" data-column="column7">02.02.2020</th>
                <td class="column100 column3" data-column="column3">9</td>
                <td class="column100 column4" data-column="column4">+ 50 %</td>
                <td class="column100 column5" data-column="column5">+ 50 %</td>
                <th class="column100 column6" data-column="column6">+ 10 %</th>
            </tr>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">Start-Up №4 Shares</th>
                <td class="column100 column2" data-column="column2">X</td>
                <th class="column100 column7" data-column="column7">02.02.2020</th>
                <td class="column100 column3" data-column="column3">9</td>
                <td class="column100 column4" data-column="column4">+ 50 %</td>
                <td class="column100 column5" data-column="column5">+ 50 %</td>
                <th class="column100 column6" data-column="column6">+ 10 %</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="another-accounts" id="another-accounts">
            <button type="submit" name="another-acc-button" id="another-acc-button">SEE ALL BALANCES</button>
        </div>
    </div>
    <div class="right">
        <h1>Added Banks Accounts</h1>
        <table class="table7" border="1">
            <thead>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">Name</th>
                <th class="column100 column4" data-column="column4">%</th>
                <th class="column100 column6" data-column="column6">Total in USD</th>

            </tr>
            </thead>
            <tbody>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Tinkoff Bank</td>
                <td class="column100 column4" data-column="column4">100</td>
                <th class="column100 column6" data-column="column6">5,653.24</th>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Sber Bank</td>
                <td class="column100 column4" data-column="column4">0</td>
                <th class="column100 column6" data-column="column6">0</th>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Yandex Money</td>
                <td class="column100 column4" data-column="column4">0</td>
                <th class="column100 column6" data-column="column6">0</th>
            </tr>
            </tbody>
        </table>
        <h1>Cryptocurency Balance</h1>
        <table class="table7" border="1">
            <thead>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">Name</th>
                <th class="column100 column4" data-column="column4">%</th>
                <th class="column100 column6" data-column="column6">Total in USD</th>
            </tr>
            </thead>
            <tbody>

            <!-- ================Binance======================== -->
            <tr class="row101">
                <td class="column100 column1" data-column="column1">Binance</td>
                <td class="column100 column4" data-column="column4">100</td>
                <th class="column100 column6" data-column="column6">5,653.24</th>
            </tr>
            <!-- ================End Binance======================== -->
            <tr class="row102">
                <td class="column100 column1" data-column="column1">Bitfinex</td>
                <td class="column100 column4" data-column="column4">0</td>
                <th class="column100 column6" data-column="column6">0</th>
            </tr>

            <!-- ================BitMax======================== -->
            <tr class="row103">
                <!--Name-->
                <td class="column100 column1" data-column="column1">BitMax</td>
                <!--%-->
                <td class="column100 column4" data-column="column4">0</td>
                <!--Total In USD-->
                <th class="column100 column6" data-column="column6" th:text="${user.getName()}"></th>
            </tr>
            <!-- ================End BitMax======================== -->
            <tr class="row104">
                <td class="column100 column1" data-column="column1">ERC-20</td>
                <td class="column100 column4" data-column="column4">0</td>
                <th class="column100 column6" data-column="column6">0</th>
            </tr>
            </tbody>
        </table>
        <h1>Stocks Exchange</h1>
        <table class="table7" border="1">
            <thead>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">Name</th>
                <th class="column100 column4" data-column="column4">%</th>
                <th class="column100 column6" data-column="column6">Total in USD</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Tinkoff Stock Exchange(Broker)</td>
                <td class="column100 column4" data-column="column4">100</td>
                <th class="column100 column6" data-column="column6">5,653.24</th>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Sber Stock Exchange(Broker)</td>
                <td class="column100 column4" data-column="column4">0</td>
                <th class="column100 column6" data-column="column6">0</th>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">VTB Stock Exchange(Broker)</td>
                <td class="column100 column4" data-column="column4">0</td>
                <th class="column100 column6" data-column="column6">0</th>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section id="section3" class="section">
    <div class="right-footer1">
        <h1>ADD YOUR API</h1>
        <table class="add-api-table" border="1">
            <thead>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">SELECT TYPE</th>
                <th class="column100 column2" data-column="column2">SELECT YOUR EXCHANGE</th>
                <th class="column100 column3" data-column="column3">INPUT API</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row100">
                <td class="dropdown1" data-column="column1">
                    <form action="" name="FILTER">
                        <label>
                            <select name="filter_for">
                                <option value="Banks">Banks Account</option>
                                <option value="Cryptocurency">Cryptocurency</option>
                                <option value="Shares">Shares</option>
                            </select>
                        </label>
                    </form>
                </td>
                <td class="dropdown1" data-column="column1">
                    <form action="" name="FILTER">
                        <label>
                            <select name="filter_for">
                                <option value="Tinkoff">Tinkoff</option>
                                <option value="SberBank">SberBank</option>
                                <option value="Binance">Binance</option>
                                <option value="BitMax">BitMax</option>
                                <option value="ERC-20">ERC-20</option>
                            </select>
                        </label>
                    </form>
                </td>
                <td class="dropdown1" data-column="column1">
                    <form id="add-api-form" name="add-api-form" method="post">
                        <label for="p-a-k"></label>
                        <input type="text" class="public-api-key" placeholder="Введите Public API Key" name="p-a-k"
                               id="p-a-k">
                        <label for="private-a-k"></label>
                        <input type="password" class="private-api-key" placeholder="Введите Private API Key"
                               name="private-a-k"
                               id="private-a-k">
                        <button type="submit">SUBMIT</button>

                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- ================FOOTER======================== -->
<footer id="footer" class="footer">
    <div class="container3">
        <H1>TRANSACTION</H1>
        <table class="footer-table" border="1">
            <thead>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">SELECT NAME</th>
                <th class="column100 column2" data-column="column2">FROM</th>
                <th class="column100 column2" data-column="column2">TO</th>
                <th class="column100 column2" data-column="column2">VALUE</th>
            </tr>
            </thead>
            <tbody>

            <tr class="row100">
                <td class="dropdown1" data-column="column1">
                    <form action="" name="FILTER">
                        <label>
                            <select name="filter_for">
                                <option value="Banks">AAPL</option>
                                <option value="Cryptocurency">EPAM</option>
                                <option value="Shares">ETH</option>
                                <option value="Shares">BTC</option>
                                <option value="Shares">USD</option>
                                <option value="Shares">ONT</option>
                                <option value="Shares">LTC</option>
                                <option value="Shares">ZXC</option>
                                <option value="Shares">RUB</option>
                            </select>
                        </label>
                    </form>
                </td>
                <td class="dropdown1" data-column="column1">
                    <form action="" name="FILTER">
                        <label>
                            <select name="filter_for">
                                <option value="Banks">BitMax</option>
                                <option value="Cryptocurency">Binance</option>
                                <option value="Shares">Tinkoff</option>
                                <option value="Shares">ChaseBank</option>
                                <option value="Shares">SberBank</option>
                            </select>
                        </label>
                    </form>
                </td>
                <td class="dropdown1" data-column="column1">
                    <form action="" name="FILTER">
                        <label>
                            <select name="filter_for">
                                <option value="Banks">BitMax</option>
                                <option value="Cryptocurency">Binance</option>
                                <option value="Shares">Tinkoff</option>
                                <option value="Shares">ChaseBank</option>
                                <option value="Shares">SberBank</option>
                            </select>
                        </label>
                    </form>
                </td>
                <td>
                    <label for="p-a"></label>
                    <label for="p-a"></label><input type="text" class="public-api-key"
                                                    placeholder="Inter PRIVATE KEY" name="p-a"
                                                    id="p-a">
                    <button type="submit">SUBMIT</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</footer>

</body>
</html>
