<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'HOME - ' + ${session.userData.getName()}"></title>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="autorisation.css">

</head>
<body>
<header id="header" class="header">
    <div class="container1">
        <!-- ================NAVBAR======================== -->
        <ul class="menu">
            <li><a class="active" th:href="@{/}">HOME</a></li>
            <li><a class="settings" th:href="@{/myasset}">MY ASSET</a>
            <li><a class="settings" th:href="@{/myaccounts}">MY ACCOUNTS</a>
            <li><a class="settings" th:href="@{/}">MARKET</a>
            <li><a class="settings" th:href="@{/}">TRADING</a>

            <li class="t123">
                <a class="settings1" th:text="${session.userData.getName()}">Anthony</a>
                <ul class="sub-menu">
                    <li style="float: left"><a href="account.html">Account</a></li>
                    <li style="float: left"><a href="myasset.html">My Asset</a></li>
                    <li style="float: left"><a href="myorders.html">My Orders</a></li>
                    <li style="float: left"><a href="withdrawal.html">Withdrawal</a></li>
                    <li style="float: right"><a class="active1" href="addAPI.html">Add API</a></li>
                    <li style="float: right"><a class="active1" th:href="@{/logout}">LogOut</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<!-- ================MAIN======================== -->
<section id="index" class="index">
    <div class="products">
        <h1>ASSET UNIFIED SYSTEM</h1>
        <h3>Products:</h3>
    </div>
    <div class="buttons">
        <button type="button" th:href="@{/myasset}" class="button332 button1">Summary accounts balance</button>
        <button type="button" th:href="@{/myasset}" class="button332 button2">Manage IPO & ICO projects</button>

    </div>

</section>
<footer id="index-footer" class="index-footer">
</footer>
</body>
</html>